@model IEnumerable<GestionStageEquipe3.Areas.Stages.Models.MilieuStage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMilieuStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomMilieuStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceEntrepriseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionAdministrativeEntrepriseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMaximumEtudiant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMilieuStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMilieuStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceEntrepriseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionAdministrativeEntrepriseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMaximumEtudiant)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Coordonnateur") || User.IsInRole("ResponsableAdmin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.MilieuStageId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.MilieuStageId"> Details </a>
                        <a asp-action="Delete" asp-route-id="@item.MilieuStageId"> Delete </a>
                    }

                    else
                    {

                        <a asp-action="Details" asp-route-id="@item.MilieuStageId"> Appliquer</a>
                    }
                }
               
            </td>
        </tr>
}
    </tbody>
</table>
