@model IEnumerable<GestionStageEquipe3.Areas.Stages.Models.MilieuStage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMilieuStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomMilieuStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionAdministrativeEntrepriseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodepostaleEntreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMaximumEtudiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolitesseResponsableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitreResponsableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourrielResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosteResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellulaireResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelecopieurResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostalResponsable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMilieuStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMilieuStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionAdministrativeEntrepriseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodepostaleEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMaximumEtudiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolitesseResponsableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitreResponsableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourrielResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosteResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellulaireResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelecopieurResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostalResponsable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MilieuStageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MilieuStageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MilieuStageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
